@model Medico


<div class="jumbotron">
    <h1 class="display-3" style="text-align:center">
        <font style="alinhamento vertical: herdar" "> <font style =" alinhamento vertical: herdar; "> Anotações: </font> </font> </ h1 >
        <p class="lead"> <font style="alinhamento vertical: herdar" "> <font style =" alinhamento vertical: herdar; "> Insira aqui as anotações sobre a consulta realizada: </font> </font> </p>
        <hr class="my-4">
      
        
        
        <a class="btn btn-primary btn-lg" href="#" role="button"> <font style="alinhamento vertical: herdar;"> <font style="alinhamento vertical: herdar"> Médico </font> </font> </a>
        </p>
