@model Medico

<fieldset>
    <div class="jumbotron">

        <legend>Cadastrar Disponibilidade</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>

        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
            </div>


            <button type="button" class="btn btn-outline-primary">Cadastrar</button>


        </div>

</fieldset>


