@model Medico

    <fieldset>
        <div class="jumbotron">

            <div class="form-group">

                <h2>Anotações</h2>
                <p class="text-muted">Insira aqui as suas anotações sobre a consulta.</p>

                <label for="exampleTextarea"></label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>

            <button type="button" class="btn btn-outline-primary">Salvar</button>
        <button type="button" class="btn btn-outline-primary">Voltar</button>
        
        
        </div>
    </fieldset>

