
@model Consulta

<form asp-action="CadastroConsulta" method="post" enctype="multipart/form-data">
    <fieldset>
        <div class="jumbotron">

            <legend>Cadastrar Consultas</legend>
            <div asp-validation-summary="ModelOnly"
                 class="text-primary"></div>

            <div class="form-group" id="Nome">
                <label asp-for="Paciente.Nome"></label>
                <input type="text" asp-for="Paciente.Nome"
                       class="form-control" />
                <span asp-validation-for="Paciente.Nome"
                      class="text-primary"></span>
            </div>

            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Especialidades</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Especialidades</option>
                <option value="1">Especilidade01</option>
                <option value="2">Especialidade02</option>
                <option value="3">Três</option>
            </select>

            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Médicos</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                <option selected>Médicos</option>
                <option value="1">Medico01</option>
                <option value="2">Médico02</option>
                <option value="3">Médico03</option>
            </select></br></br>


            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker3'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker3').datetimepicker({
                                format: 'LT'
                            });
                        });
                    </script>
                </div>
            </div>

            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Marque um horário disponível</label>
            <select class="custom-select" multiple>
                <option selected>Horários Disponíveis:</option>
                <option value="1">Um</option>
                <option value="2">Dois</option>
                <option value="3">Três</option>
            </select> </br></br>


            <button type="submit" class="btn btn-outline-primary">Cadastrar</button>


        </div>

    </fieldset>
</form>
