@model Consulta

<fieldset>
    <div class="jumbotron">

        <h2>Minhas Consultas Agendadas:</h2>
        <p class="text-muted">Para adicionar anotações, clique sobre a consulta.</p>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Nome do Paciente">
            <button type="button" class="btn btn-outline-primary">Buscar</button>
        </form></br></br>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Médico</th>
                </tr>
            </thead>

        </table>

        <button type="button" class="btn btn-outline-primary">Voltar</button>

    </div>

    </div>


</fieldset>















