@inject Microsoft.AspNetCore.Identity.UserManager<UsuarioLogado> UserManager
@model Paciente

<fieldset>
    <div class="jumbotron">

        <legend>Seja bem vindo!</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>

        <div class="form-group">

            <a asp-action="CadastroPaciente" class="btn btn-primary btn-lg btn-block">Alterar Cadastro</a>
            <a asp-action="RemoverPaciente" class="btn btn-primary btn-lg btn-block">Excluir Cadastro</a>
            <a asp-controller="Consulta" asp-action="CadastroConsulta" class="btn btn-primary btn-lg btn-block">Agendar Consulta</a>
            <a asp-controller="Consulta" asp-action="MenuPrincipalPaciente" class="btn btn-primary btn-lg btn-block">Alterar Consulta</a>

        </div>

</fieldset>









