@model Paciente

<fieldset>
    <div class="jumbotron">

        <legend>Seja bem vindo!</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>

        <div class="form-group">

            <button type="button" class="btn btn-primary btn-lg btn-block">Alterar Cadastro</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">Excluir Cadastro</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">Agendar Consulta</button>
            <button type="button" class="btn btn-primary btn-lg btn-block">Alterar Consulta</button>

        </div>

</fieldset>









